@import "~bootstrap/scss/bootstrap";
@import "../Styles/_variables";
@import "../Components/Iconos/Iconos.scss";
@import "../Sections/Navbar/Navbar.scss";
@import "../Components/Background/Background.scss";
@import "../Components/Loading/Loading.scss";
@import "../Components/Title/Title.scss";
@import "../Components/ModuleSkill/moduleskill.scss";
@import "../Components/Name/Name.scss";
@import "../Components/Text/Text.scss";
@import "../Sections/Home/Home.scss";
@import "../Sections/Contact/Contact.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  