.skill{
    color: white;
    font-size: 1.2rem;
    &-progress{
        background-color: white;
        width: 1rem;
    }
}
// .progress-bar{
//     background-color: $active;
//     animation: progreso 3s linear;

// }
// @keyframes progreso {
//     0% {
//         width: 0;
//     }
// }
