.skill{
    color: white;
    margin: 1.5rem;
    
    &-progress{
        background-color: white;
    }
}
.progress-bar{
    background-color: $active;
    animation: progreso 2s linear;

}
@keyframes progreso {
    0% {
        width: 0;
    }
}
