.preback{
    background-color: $fondo;
    z-index: 1;
    position: absolute;
    width: 80%;
    height: 80%;
    margin: 3rem 3rem 3rem 9rem;
    border-radius: 2rem;
    padding: 3rem;
    overflow: hidden;
    white-space: nowrap;
}